.footer {
    background: white;
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.handles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.copyright a:hover {
    text-decoration: underline;
}